@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  outline: none; }

:root {
  --texto-epilogue: "Epilogue", sans-serif;
  --texto-manrope: "Manrope", sans-serif;
  --color-azul: #3822e4; }

button {
  -webkit-appearance: none;
  appearance: none; }

nav {
  width: 86px;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  padding: 74px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10; }
  nav .btn-vertical {
    writing-mode: vertical-lr;
    transform: rotate(180deg); }
  nav ul {
    list-style: none; }
  nav a {
    color: #3822e4;
    font-family: var(--texto-manrope);
    font-size: 21.76px;
    font-weight: 700;
    line-height: 34px;
    text-decoration: none; }

main {
  margin-left: 86px; }

section.home {
  height: 100vh;
  background-color: #3822e4;
  padding: 73px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative; }
  section.home::after {
    content: url(../img/Group.svg);
    position: absolute;
    right: 0; }
  section.home img.logo {
    position: absolute;
    top: 73px;
    width: 5.28vw; }
  section.home .homeContent {
    padding-left: calc(277px - 73px); }
    section.home .homeContent h1 {
      font-family: var(--texto-epilogue);
      font-weight: 900;
      font-size: 80px;
      line-height: 100px;
      color: white; }
      section.home .homeContent h1 span {
        background-color: #24fe7c;
        color: #3822e4;
        padding: 0 15px; }
      section.home .homeContent h1 span.memorables {
        margin-left: 20px; }
    section.home .homeContent p {
      font-family: var(--texto-manrope);
      font-weight: bold;
      font-size: 40px;
      line-height: 55px;
      color: white;
      padding-top: 33px;
      padding-bottom: 60px; }
    section.home .homeContent button {
      background-color: #d949f8;
      font-family: var(--texto-manrope);
      font-weight: 800;
      font-size: 28px;
      line-height: 38px;
      border: none;
      border-radius: 18.27px;
      padding: 13px 73px;
      color: white;
      cursor: pointer; }

.menupage.open {
  transform: translateX(0%);
  z-index: 9;
  position: absolute, fixed;
  top: 0; }

section.menupage {
  background-color: #24fe7c;
  height: 100vh;
  z-index: 9;
  position: absolute;
  width: 100%;
  top: 0;
  position: fixed;
  transition: transform 0.5s ease;
  transform: translateX(-100%); }
