@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  outline: none;
}

:root {
  --texto-epilogue: "Epilogue", sans-serif;
  --texto-manrope: "Manrope", sans-serif;
  --color-azul: #3822e4;
  --color-verde: #24fe7c;
  --color-rosa: #d949f8;
}

button {
  -webkit-appearance: none;
  appearance: none;
}

nav {
  border-right: 1px solid var(--color-azul);
  width: 86px;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  padding: 74px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  .menubtn {
    cursor: pointer;
  }
  // justify-content: space-between;
  .btn-vertical {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 83px 0px;
    &::before {
      content: "";
      width: 12px;
      height: 309px;
      background-color: var(--color-verde);
      position: absolute;
      z-index: -2;
      left: 4px;
    }
    span {
      font-weight: 900;
      font-family: var(--texto-epilogue);
    }
  }
  ul {
    list-style: none;
    li {
      padding: 11px 0;
      a {
        height: 21px;
        line-height: 21px;
      }
    }
  }
  a {
    color: var(--color-azul);
    font-family: var(--texto-manrope);
    font-size: 21.76px;
    font-weight: 700;
    line-height: 34px;
    text-decoration: none;
  }
}

main {
  margin-left: 86px;
}

section.home {
  // height: calc(100vh - 146px);
  height: 100vh;
  background-color: var(--color-azul);
  padding: 87px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  &::after {
    content: url(../img/Group.svg);
    position: absolute;
    right: 0;
  }
  img.logo {
    position: absolute;
    top: 73px;
    width: 5.28vw;
  }
  .homeContent {
    padding-left: calc(277px - 87px);
    h1 {
      font-family: var(--texto-epilogue);
      font-weight: 900;
      // font-size: 80px;
      font-size: 4.165vw;
      // line-height: 100px;
      line-height: 5.34vw;
      color: white;
      span {
        background-color: var(--color-verde);
        color: var(--color-azul);
        padding: 0 15px;
      }
      span.memorables {
        margin-left: 20px;
      }
    }
    p {
      font-family: var(--texto-manrope);
      font-weight: bold;
      font-size: 40px;
      line-height: 55px;
      color: white;
      padding-top: 33px;
      padding-bottom: 60px;
    }
    button {
      background-color: var(--color-rosa);
      font-family: var(--texto-manrope);
      font-weight: 800;
      font-size: 28px;
      line-height: 38px;
      border: none;
      border-radius: 18.27px;
      padding: 13px 73px;
      color: white;
      cursor: pointer;
    }
    img.flecha {
      position: absolute;
      bottom: 51px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.menupage.open {
  transform: translateX(0%);
  z-index: 9;
  position: absolute, fixed;
  top: 0;
}

section.menupage {
  background-color: var(--color-verde);
  height: 100vh;
  z-index: 9;
  position: absolute;
  width: 100%;
  top: 0;
  position: fixed;
  transition: transform 0.5s ease;
  transform: translateX(-100%);
}

section.about {
  padding: 130px 153px 130px 87px;
  .contenido {
    display: flex;
    .part1 {
      width: 73%;
      color: var(--color-azul);
      h2 {
        font-family: var(--texto-epilogue);
        font-weight: 900;
        font-size: 70px;
        line-height: 70px;
      }
      p {
        padding-top: 35px;
        font-family: var(--texto-manrope);
        font-weight: 700;
        font-size: 28px;
        line-height: 45px;
      }
    }
    .part2 {
      width: 27%;
      img {
        width: 269px;
        float: right;
      }
    }
  }
  .portafolio {
    padding-top: 186px;
    position: relative;
    &::before {
      content: url(../img/figura-verde.svg);
      position: absolute;
      top: 0;
      left: -173px;
    }
    h2 {
      font-family: var(--texto-epilogue);
      font-weight: 900;
      font-size: 70px;
      line-height: 45px;
      text-align: center;
      color: var(--color-azul);
    }
    .galeria {
      padding-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .galeriaItem {
        padding-bottom: 50px;
        border-radius: 10px;
      }
    }
    .btn-mas {
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      span {
        padding-left: 17px;
        font-family: var(--texto-manrope);
        font-weight: 700;
        font-size: 28px;
        line-height: 45px;
        color: var(--color-azul);
      }
    }
  }
}

section.services {
  padding: 60px 153px 200px 87px;
  color: var(--color-azul);
  .contenido {
    h2 {
      font-family: var(--texto-epilogue);
      font-weight: 900;
      font-size: 70px;
      line-height: 93px;
    }
    p {
      padding-top: 35px;
      font-family: var(--texto-manrope);
      font-weight: 700;
      font-size: 28px;
      line-height: 45px;
      width: 90%;
    }
  }
  .cards {
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
    .card {
      border: 4px solid var(--color-verde);
      width: 500px;
      height: 490px;
      padding: 30px;
      position: relative;
      border-radius: 10px;
      h3 {
        font-family: var(--texto-epilogue);
        font-weight: 900;
        font-size: 50px;
        line-height: 73px;
        padding-top: 50px;
        position: relative;
        &::before {
          content: "";
          width: 250px;
          height: 22px;
          background-color: var(--color-verde);
          position: absolute;
          bottom: 15px;
          z-index: -2;
        }
      }
      p {
        font-family: var(--texto-manrope);
        font-weight: 700;
        font-size: 28px;
        line-height: 35px;
        padding-top: 20px;
      }
      a {
        position: absolute;
        bottom: 23px;
        right: 23px;
      }
    }
    .card:nth-child(2) {
      h3 {
        &::before {
          content: "";
          width: 294px;
        }
      }
    }
    .card:nth-child(3) {
      h3 {
        &::before {
          content: "";
          width: 317px;
        }
      }
    }
  }
}

section.partnerds {
  background-color: var(--color-azul);
  padding: 100px 153px 100px 87px;
  color: #fff;
  .contenido {
    display: flex;
    align-items: flex-end;
    h2 {
      font-family: var(--texto-epilogue);
      font-weight: 900;
      font-size: 80px;
      line-height: 48px;
    }
    span {
      font-family: var(--texto-epilogue);
      font-weight: 900;
      font-size: 60px;
      line-height: 36px;
    }
  }
  p {
    font-family: var(--texto-manrope);
    font-weight: 700;
    font-size: 28px;
    line-height: 45px;
    width: 90%;
    padding-top: 50px;
  }
}

section.contact {
  padding: 200px 153px 200px 87px;
  color: var(--color-azul);
  .campos {
    h2 {
      font-family: var(--texto-epilogue);
      font-weight: 900;
      font-size: 70px;
      line-height: 93px;
      text-align: center;
    }
    p {
      font-family: var(--texto-manrope);
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      text-align: center;
      padding-top: 20px;
    }
  }
  /* reset */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  #fs-frm fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #fs-frm select,
  #fs-frm input,
  #fs-frm fieldset,
  #fs-frm textarea,
  #fs-frm label,
  #fs-frm #card-element:disabled {
    font-family: inherit;
    font-size: 100%;
    color: var(--color-azul);
    border: none;
    border-radius: 0;
    /* display: block; */
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  #fs-frm label,
  #fs-frm legend,
  #fs-frm ::placeholder {
    font-size: 20px;
    margin-bottom: 0.5rem;
    padding-top: 0.2rem;
    display: flex;
    align-items: baseline;
    color: var(--color-azul);
  }
  #fs-frm ::placeholder {
    opacity: 0.5;
  }
  .form {
    display: flex;
    justify-content: center;
    padding-top: 65px;
  }
  form {
    width: 1000px;
  }
  #fs-frm [type="text"],
  #fs-frm textarea {
    background-color: rgba(255, 255, 255, 0.26);
    color: var(--color-azul);
    // padding: 0.75em 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid var(--color-azul);
    font-family: var(--texto-manrope);
    font-weight: 700;
    font-size: 28px;
    line-height: 56px;
  }
  #fs-frm textarea {
    height: calc(82px + 62px);
    margin-bottom: 88px;
  }
  #fs-frm [type="submit"] {
    width: 500px;
    height: 60px;
    font-family: var(--texto-manrope);
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    background-color: var(--color-rosa);
    color: #fff !important;
    cursor: pointer;
    border-radius: 18.27px;
  }
}

footer {
  color: var(--color-azul);
  .title {
    display: flex;
    align-items: flex-end;
    h2 {
      padding-left: 17px;
      font-family: var(--texto-epilogue);
      font-weight: 900;
      font-size: 169.213px;
      line-height: 95px;
      padding-right: 50px;
    }
  }
  .info {
    padding: 70px 51px 70px 24px;
    display: flex;
    justify-content: space-between;
    p {
      font-family: var(--texto-manrope);
      font-weight: 700;
      font-size: 28px;
      line-height: 36px;
      position: relative;
      &::before {
        content: "";
        width: 223px;
        height: 12px;
        background-color: var(--color-verde);
        position: absolute;
        bottom: 4px;
        z-index: -2;
      }
    }
    p:nth-child(2) {
      &::before {
        content: "";
        width: 290px;
        left: -9px;
      }
    }
    p:nth-child(3) {
      &::before {
        content: "";
        width: 155px;
        left: -9px;
      }
    }
    p:nth-child(4) {
      &::before {
        content: "";
        width: 133px;
        left: -9px;
      }
    }
    p:nth-child(5) {
      &::before {
        content: "";
        width: 140px;
        left: -5px;
      }
    }
  }
}
